@import "@hennge/vue3-pagination/dist/vue3-pagination.css";
@import "_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "_modal.scss";

#app {
  height: 100%;
  overflow-y: auto;
}

html,
body {
  overflow-y: hidden;
  height: 100%;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.4s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0.5;
}
